---
layout: base
js: quickstart
---
<section class="PageContent quickstart-page has-tableOfContents">
  <!-- START Page Content -->
  <div class="PageContent-main" id="quickstart-body">
    <h1>{{ page.title }}</h1>

    These quick start instructions will help you integrate Okta into your existing front-end and/or backend application.
    Please use the menus to pick your client and server technology to see a custom-tailored quick start for your environment.

    <h2 id="account">Create an Okta Account</h2>
    <p>First things first &ndash; you need an <strong>Okta Developer Edition Account</strong>. Don't have one yet?</p>
    <a href="https://developer.okta.com/signup/" class="Button--red">Create Free Account</a>

    <h2 id="client_setup">Client Setup</h2>

    <p>Now, let's add authentication to your client. (Already done? <a onclick="scrollToServer()" style="cursor: pointer;">Skip to server setup</a>)</p>

    <div class="code-selector" id="client-selector">
      <h3>Client</h3>
      <ul></ul>
    </div>

    <div id="client_content" class="example-content-well"></div>

    <h2 id="server_setup">Server Setup</h2>

    <div class="code-selector" id="server-selector">
      <h3>Server</h3>
      <ul></ul>
    </div>

    <div class="code-selector" id="framework-selector">
      <h3>Framework</h3>
      <ul></ul>
    </div>

    <div id="server_content" class="example-content-well"></div>
  </div>

  <div class="TableOfContents TableOfContentsPreload">
    <a class="TableOfContents-item is-level2" style="display: block;" onclick="scrollToAccount()" id="account_link">Create an Okta Account</a>
     <a class="TableOfContents-item is-level2" style="display: block;" onclick="scrollToClient()" id="client_setup_link">Client Setup</a>
     <a class="TableOfContents-item is-level2" style="display: block;" onclick="scrollToServer()" id="server_setup_link">Server Setup</a>
  </div>
  <!-- END Page Content -->
</section><!-- END Page Center w/Sub Nav & Content -->
