---
layout: master
show_bottom_cta: true
---

<section class="releaseNotes is-index">

	{% for post in paginator.release_notes %}
		<div class="content">
		  {{ post.content }}
		</div>
	{% endfor %}

	{% if paginator.total_pages > 1 %}
	<div class="Blog-pagination">

		{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
		{% endif %}

		{% for page in (1..paginator.total_pages) %}
			{% if page == paginator.page %}
			<em>{{ page }}</em>
			{% elsif page == 1 %}
			<a href="{{ paginator.previous_page_path | prepend: site.baseurl | append: '/' | replace: '//', '/' }}">{{ page }}</a>
			{% else %}
			<a href="{{ site.baseurl | append: '/release_notes' | append: site.paginate_path | append: '/' | replace: ':num', '/:num' | replace: ':num', page | replace: '//', '/' }}">{{ page }}</a>
			{% endif %}
		{% endfor %}

		{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
		{% endif %}

	</div>
	{% endif %}

</section>
